{% extends 'base.html' %}
{% load static embed_video_tags humanize %}

{% block title %}{{ collection.get_name }} - {{ collection.get_pictures_count }} лучших и новых {{ collection.get_collection_type_name }}{% endblock %}
{% block description %}Ищите фильмы по запросу {{ collection.name }}? Мы собрали для вас {{ collection.get_pictures_count }} лучших {{ collection.get_collection_type_name }} по этой теме. Выбирайте и наслажадайтесь просмотром!{% endblock %}


{% block content %}trailer
    <div class="page page-index">
      <div class="wrapper">
        <main>
          <div class="poster">
            <div class="beadcrumbs"><a href="#">Главная</a><a href="#">Подборки</a><span>{{ collection.get_name }}</span></div>
            <div class="poster-slider">
              <div class="poster-slider__item"><img class="poster-img" loading="lazy" data-src="{{ collection.poster.url }}" alt="Poster">
                <h1>{{ collection.get_name }}</h1>
              </div>
            </div>
          </div>
          <p class="subposter">{{ collection.description }}</p>
          <div class="film-block">
            <h2>
            10 лучших {{ collection.get_collection_type_name }} подборки
            <p>10 {{ collection.get_collection_type_name }} подборки, отсортированные по убыванию рейтинга</p>
          </h2>
            <div class="film-block__slider">
              {% for i in best_films %}
              <div class="film-block__item">
                <div class="popup popup-film">
                  <div class="popup__close"><img data-src="{% static 'img/close-popup.svg' %}" alt="Close"></div>
                  <div class="popup__bgd"></div>
                  <div class="popup__content">
                    <div class="youtube" id="{{ i.trailer }}"></div>
                  </div>
                </div>
                <div class="item__points">
                  <div class="item__points_1"><img loading="lazy" data-src="{% static 'img/item__points_1.png' %}" alt="Camera"><span>{{ i.rating_kinopoisk }}</span></div>
                  <div class="item__points_2"><img loading="lazy" data-src="{% static 'img/item__points_2.png' %}" alt="Camera"><span>{{ i.rating_imdb }}</span></div>
                </div>
                <div class="item__photo"><img loading="lazy" data-src="{{ i.poster.url }}" alt="Film">
                  <div class="photo__play"><img loading="lazy" data-src="{% static 'img/youtube-mini.svg' %}" alt="play"><span>Смотреть</span></div>
                </div>
                <h3><a class="item__title" href="{{ i.get_absolute_url }}">{{ i.name_in_russian }}</a></h3>
                <p class="item__type">{{ i.get_tags }}</p>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="film-block">
            <h2>
              10 новых {{ collection.get_collection_type_name }}
              <p>10 {{ collection.get_collection_type_name }} подборки, отсортированные по дате выхода от самых новых к более старым</p>
            </h2>
            <div class="film-block__slider">
              {% for i in new_films %}
              <div class="film-block__item">
                <div class="popup popup-film">
                  <div class="popup__close"><img data-src="{% static 'img/close-popup.svg' %}" alt="Close"></div>
                  <div class="popup__bgd"></div>
                  <div class="popup__content">
                    <div class="youtube" id="{{ i.trailer }}"></div>
                  </div>
                </div>
                <div class="item__points">
                  <div class="item__points_1"><img loading="lazy" data-src="{% static 'img/item__points_1.png' %}" alt="Camera"><span>{{ i.rating_kinopoisk }}</span></div>
                  <div class="item__points_2"><img loading="lazy" data-src="{% static 'img/item__points_2.png' %}" alt="Camera"><span>{{ i.rating_imdb }}</span></div>
                </div>
                <div class="item__photo"><img loading="lazy" data-src="{{ i.poster.url }}" alt="Film">
                  <div class="photo__play"><img loading="lazy" data-src="{% static 'img/youtube-mini.svg' %}" alt="play"><span>Смотреть</span></div>
                </div>
                <h3><a class="item__title" href="{{ i.get_absolute_url }}">{{ i.name_in_russian }}</a></h3>
                <p class="item__type">{{ i.get_tags }}</p>
              </div>
              {% endfor %}
            </div>
          </div>
          <ol class="films">
            {% for i in collection.pictures.all %}
            <li class="films__li">
              <div class="li__sides">
                <div class="lft">
                  <div class="popup popup-film">
                    <div class="popup__close"><img data-src="{% static 'img/close-popup.svg' %}" alt="Close"></div>
                    <div class="popup__bgd"></div>
                    <div class="popup__content">
                      <div class="youtube" id="{{ i.trailer }}"></div>
                    </div>
                  </div>
                  <div class="film__photo"><img class="photo_img" loading="lazy" alt="Film" src="{{ i.poster.url }}">
                    <div class="photo__play"><img loading="lazy" alt="Play" src="{% static 'img/youtube.svg' %}"><span>Смотреть</span></div>
                    <div class="film__rating film__rating_active">
                      <div class="itm">
                        <div class="text"><b>7,7</b><span>Кинопоиск</span></div>
                        <div class="counter" data-cp-percentage="100" data-cp-color="#FF6D01" style="height: 120px;"><span class="percentage"></span><canvas class="circleProgressCanvas" width="240" height="240" style="height: 120px; width: 120px;"></canvas></div>
                      </div>
                      <div class="itm">
                        <div class="text"><b>7,4</b><span>IMDb</span></div>
                        <div class="counter" data-cp-percentage="100" data-cp-color="#E3AC3C" style="height: 120px;"><span class="percentage"></span><canvas class="circleProgressCanvas" width="240" height="240" style="height: 120px; width: 120px;"></canvas></div>
                      </div>
                    </div>
                    <div class="film__title-mobile__cont">
                      <a href="{{ i.get_absolute_url }}"><h2 class="film__title-mobile">{{ i.name_in_russian }} ({{ i.released }}</h2></a>
                      <h2 style="margin-bottom: 5px;" class="film__title_eng ">{% if i.name_in_english  %}{{ i.name_in_english }}{% endif %}</h2>
                    </div>
                  </div>
                </div>
                <div class="rht">
                  <a href="{{ i.get_absolute_url }}"><h2 class="film__title ">{{ i.name_in_russian }} ({{ i.released }})</h2></a>
<!--                   {% if i.slogan %}
                   <p>{{ i.slogan }}</p>
                  {% endif %} -->
                  {% if i.name_in_english  %}
                   <h2 class="film__title_eng title_eng_active">{{ i.name_in_english }}</h2>
                  {% else %}
                    <h2 class="film__title_eng"></h2>
                  {% endif %}
                  <div class="info__top">
                    <div class="info__item">
                      <h4>Продолжительность</h4>
                      {% if i.duration %}
                       <p>{{ i.duration }} минут</p>
                      {% else %}
                        <p> - </p>
                      {% endif %}
                    </div>
                    <div class="info__item">
                      <h4>Год выпуска</h4>
                      <p>{{ i.released }}</p>
                    </div>
                    <div class="info__item">
                      <h4>Премьера фильма в России</h4>
                      <p>{{ i.released }}</p>
                    </div>
                    <div class="info__item">
                      <h4>Возраст</h4>                      
                      <p>{% if i.minimum_age %}{{ i.minimum_age }}{% else %}16{% endif %}+</p>
                    </div>
                  </div>
                  <div class="info__centre">
                    <div class="info__item">
                      <div class="item__name">Жанр</div>
                      <div class="item__text">
                        {% for genre in i.genres.all %}
                          <a href="{{ genre.get_absolute_url }}">{{ genre.name }}{% if not forloop.last %},{% endif %}</a>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="info__item">
                      <div class="item__name">Страна</div>
                      <div class="item__text">
                        {% for country in i.country.all %}
                          {{ country.name }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                      </div>
                    </div>
                    <div class="info__item">
                      <div class="item__name">В главных ролях</div>
                      <div class="item__text">
                        {% for star in i.starring.all %}
                          {{ star.name }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                      </div>
                    </div>
                    <div class="info__item">
                      <div class="item__name">Участвует в подборках</div>
                      <div class="item__text">
                        {% for collection in i.collections.all %}
                        <br>
                        <a class="collection_set" href="{{ collection.get_absolute_url }}">
                          {{ collection.name }}
                          {% if not forloop.last %}
                          <br>
                          {% endif %}
                        </a>
                        <br>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="film__description">
                    <h3>Описание:</h3>
                    <p>{{ i.description }}</p>
                    <div class="more">Еще..</div>
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
          </ol>
          <!-- <div class="loading"></div> -->
        </main>
        <aside class="aside">
          <div class="aside__block aside__block_like">
            <h2 class="aside__title">Похожие коллекции</h2>
            {% if collection.get_similar_collections %}
              {% for i in collection.get_similar_collections %}
              <a class="aside__item" href="{{ i.get_absolute_url }}">
              <div class="item__photo"><img loading="lazy" src="{{ i.poster.url }}" alt="Photo"></div>
              <div class="item__body">
                <div class="time"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8 0C3.58888 0 0 3.58888 0 8C0 12.4111 3.58888 16 8 16C12.4111 16 16 12.4111 16 8C16 3.58888 12.4111 0 8 0ZM8 15C4.14013 15 1 11.8599 1 8C1 4.14013 4.14013 1 8 1C11.8599 1 15 4.14013 15 8C15 11.8599 11.8599 15 8 15Z" fill="#A4A4A4"/>
<path d="M8.5 3H7.5V8.20702L10.6465 11.3535L11.3535 10.6465L8.5 7.79295V3Z" fill="#A4A4A4"/>
</svg><span>{{ i.created | naturaltime }}</span>
                </div>
                <p>{{ i.name }}</p>
              </div></a>
              {% endfor %}
            {% else %}
              <p class="error_message">Похожих коллекций нет.</p>
            {% endif %}
          </div>
          <div class="aside__block aside__block_slider">
            <h2 class="aside__title">популярные коллекции</h2>
            <div class="slider__block">
              {% for i in popular_collections %}
                <div class="slider__item"><img loading="lazy" data-src="{{ i.poster.url }}" alt="Slide">
                  <div class="item__text">
                    <h3>{{ i.name }}</h3>
                    <a href="{{ i.get_absolute_url }}">Смотреть</a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </aside>
      </div>
    </div>
{% endblock %}